.demobox{
    background-image: linear-gradient(
        rgb(116, 226, 253),
        white
    );
    display: flex;
    flex-direction: row;
}
.boxone{
    margin: 20px;
    width: 600px;
    text-align: start;
}
.company{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.companyimages{
    width: 150px;
    height: 60px;
    margin: 15px;

}

/* .textbox{
    
} */
.formbox{
    width: 450px;
    padding: 50px;
    box-shadow: 0px 1px 3px 3px rgb(184, 184, 184);
    
}
.frminpt{
    width: 450px;
    height: 40px;
}
.frmbtn{
    background-color: rgba(255, 68, 0, 0.747);
    color: white;
    padding: 15px;
    border: none;
    cursor: pointer;
}
.frmbtn:hover{
    background-color: rgba(255, 68, 0, 0.747);
}
.textitem{
    color: white;
}
@media screen and (max-width:769px){
    .demobox{
        flex-direction: column;
    }
    .boxone{
        width: 80%;
    }
    .company{
        flex-direction: column;
        margin: auto;
    }
    .formbox{
        width: 60%;
    }
    .frminpt{
        width: 100%;
    }
}