.bustext{
    text-align: center;
}
.textbus{
    margin: 50px;
}
.hrline{
    width: 30px;
    font-weight: bold;
    background-color: aqua;
}
.buscontainer{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
    justify-content: center;
}
.busitem{
    margin: 1px;
    height: 200px;
    width: 350px;
    cursor: pointer;
}
.busitemtext{
    text-align: center;
    width: 350px;
    height: 200px;
    position: relative;
    top: -226px;
    background-color: rgba(0, 0, 0, 0.555);
    color: white;
}
.busitemimg{
    width: 350px;
    height: 200px;
}
.busitemtextchild{
    padding: 79px 20px 79px 20px;
    font-size: 27px;
}
@media screen and (min-width:350px) and (max-width:769px){
    .buscontainer{
        display: flex;
        flex-direction: column;
        margin: auto;
    }
    .busitem{
        width: 100%;
    }
    .busitemimg{
        width: 100%;
    }
    .busitemtext{
        width: 100%;
    }
}