.whyongrid{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
    justify-content: center;
    height: 750px;
}
.ongrid{
    margin: 5px;
}
.ongrid1{
    background-color: rgb(39, 41, 49);
    color: white;
    text-align: start;
    width: 375px;
    height: 225px;
}
.ongrid2{
    background-color: aqua;
    width: 375px;
    height: 225px;
    color: white;
    text-align: start;
    font-size: small;
}
.ongrid3{
    width: 375px;
    height: 225px;
}
.ongrid4{
    width: 300px;
    height: 225px;
    background-color: aqua;
    color: white;
    text-align: start;
    font-size: small;
}
.ongrid5{
    grid-row: 2/4;
    grid-column: 2/3;
    width: 375px;
    height: 460px;
    position: relative;
    right: 37px;
}
.ongrid6{
    position: relative;
    right: 74px;
    height: 170px;
    width: 450px;
    background-color: rgb(39, 41, 49);
    color: white;
    text-align: start;
    font-size: small;
}
.ongrid8{
    width: 175px;
    height: 280px;
    position: relative;
    left: 486px;
    bottom: 173px;
}
.ongrid7{
    position: relative;
    right: 74px;
    bottom: 55px;
    width: 265px;
    height: 280px;
    background-color: aqua;
    color: white;
    text-align: start;
    font-size: small;
}
.whytext{
    text-align: center;
}
.textwhy{
    margin: 50px;
}
.hrline{
    width: 30px;
    font-weight: bold;
    background-color: aqua;
}
.whyimg{
    width: 40px;
    height: 35px;
    position: relative;
    left: 10px;
    top: 20px;
}
@media screen and (min-width:350px) and (max-width:769px){
    .whyongrid{
        display: flex;
        flex-direction: column;
        margin: auto;
    }
    .ongrid5{
        position: relative;
        right: 0px;
    }
    .ongrid6{
        position: relative;
        right: 0px;
    }
    .ongrid7{
        position: relative;
        right: 0px;
    }
    .ongrid8{
        position: relative;
        left: 0px;
    }
}