.hovercontainer{
    background-color: aqua;
    margin: auto;
    width: 78%;
    background-image: url(../Bussiness/education.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.hovertextbox{
    background-color: rgba(34, 36, 43, 0.767);
    color: white;
    padding: 20px 60px 20px 60px;
}

.hoverimgbox1{
    display: flex;
    flex-direction: row;
    background-color: rgba(0, 77, 73, 0.562);
}
.hoverimgbox1child{
    margin: 10px;
    color: white;
}